<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %> 
    <div id="test">
        <div id="form">
            <p></p>
            <h3>Welcome to GOALERS!</h3>
            <p id="intro">Watch and stream all your favorite live sports. Plus fixtures, news, videos and others. </p>
            <button onclick="window.location.href='#added'">Explore</button>
            
        </div>
    </div> 
    
    <main>

        <div class="added" id="added">
            <% latestMatches.forEach((match, i) => { %>               
                <section class="matchInfo latest-match-<%- i %>">
                    <img class="matchThumbnail" src="<%= match.thumbnail %>" alt="">
                    <h2 class="matchTitle"><%= match.title %></h2>
                    <p class="teams"><%= match.team1 %> vs <%= match.team2 %></p>
                    <div class="matchEmbed match-embed-<%- i %>"><%- match.embed %></div>
               
                </section>
                <%  })  %>
        </div>
    </main>
    <%- include('partials/footer') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>