
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    
    <main>

        <div class="added">
            <% latestMatches.forEach((match, i) => { %>               
                <section class="matchInfo latest-match-<%- i %>">
                    <img class="matchThumbnail" src="<%= match.thumbnail %>" alt="">
                    <h2 class="matchTitle"><%= match.title %></h2>
                    <p class="teams"><%= match.team1 %> vs <%= match.team2 %></p>
                    <div class="matchEmbed match-embed-<%- i %>"><%- match.embed %></div>
                    <!-- <p class="desc"><%= match.description %></p> -->
                    <!-- <button class="view-details">View Details</button> -->
                    <!-- <button class="view-details"><a href="/match/<%= match.id %>">View Details</a></button> -->
                </section>
                <%  })  %>
        </div>

    </main>

    <footer><p>copy</p><p>right</p></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>