<!DOCTYPE html>
<html lang="en">

<head>
     <!-- <%- include('partials/head') %>  -->
</head>

<body>
    <header>
         <!-- <%- include('partials/header') %>  -->
    </header>

    <main>
        <h1>welcome to my page</h1><br>


      <h1>  <%= player.strPlayer %> </h1>
      <img src="<%= player.strThumb %>" alt="">

    </main>

    <footer>
         <!-- <%- include('partials/footer') %>  -->
    </footer>





</body>

</html>