<!DOCTYPE html>
<html lang="en">

<head>
    <%- include( 'partials/head') %>
        <link rel="stylesheet" href="styles/playerPageStyle.css" />
        <link rel="stylesheet" href="styles/sideNav.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>

    </header>
    <%- include('partials/sideNav') %>

    <main>


        <form id="playerSearchForm" action="/searchplayer">
            <label id="playerNameLabel" for="playerName">Player Name</label><br>
            <input type="text" id="playerNameInputText" name="playerName" value=""><br>
            <input id="searchButton" type="submit" value="Search">
        </form>

        <%       
        if (typeof(players)=='undefined') { %>
            <h1>undefined</h1>
            <%} else { %>
                <h1>defined</h1>
                <% players.forEach (player => {  %>
                    <div id="playerInfoDiv">
                        <div id="imageAndInfoDiv">
                            <img id="playerImage" src="<%= player.strThumb %>" alt="">
                            <div id=playerBreifInfoDiv>
                                <h1>
                                    <%= player.strPlayer %>
                                </h1>
                                <h3>Nationality:
                                    <%= player.strNationality %>
                                </h3>
                                <h3>Teams:
                                    <%= player.strTeam  %>,
                                        <%= player.strTeam2  %>
                                </h3>
                                <h3>Born Date:
                                    <%= player.dateBorn %>
                                </h3>
                                <h3>Gender:
                                    <%= player.strGender %>
                                </h3>
                                <h3>Side:
                                    <%= player.strSide %>
                                </h3>
                                <h3>Position:
                                    <%= player.strPosition %>
                                </h3>
                                <h3>Facebook:
                                    <%= player.strFacebook %>
                                </h3>
                                <h3>Height:
                                    <%= player.strHeight %>
                                </h3>
                                <h3>Weight :
                                    <%= player.strWeight %>
                                </h3>
    
                            </div>
                        </div>
                        <p id="playerDescription">
                            <%= player.strDescriptionEN %>
                        </p>
                    </div>

                    <% }) %>

                        <% } %>






    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>





</body>

</html>