<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/table.css">
</head>

<body>
    <%- include('partials/header') %>
    <table id="matches-table" class="styled-table">
    <thead>
        <tr>
            <th>Match</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <% matchesTable.forEach(match => { %>
            <tr>
            <td><%= match.matchname %></td>
            <td><%= match.hometeam %></td>
            <td><%= match.awayteam %></td>
            <td><%= match.matchdate %></td>
            <td><%= match.matchtime %></td>
        </tr>
        <% }); %>
    </tbody>
    </table>
    <%- include('partials/head') %>
</body>
</html>
