<!DOCTYPE html>
<html lang="en">

<head>
    <%- include( 'partials/head') %>
    <link rel="stylesheet" href="styles/searchMatchesStyle.css" />
</head>

<body>
    <header>
        <%- include('partials/header') %>

    </header>


    <main>


        <div class="match-search-tabs-container">
            <div class="leagues-names-container">
                <button id="searchByCountry" class="single-search-name byCountryForm" onclick="openSearch(event)">
                    Country
                </button>
                <button id="searchByTeam" class="single-search-name byTeamForm" onclick="openSearch(event)"> Team
                </button>

                <button id="searchByPlayer" class="single-search-name byPlayerForm" onclick="openSearch(event)"> Player
                </button>
                <button id="searchByLeague" class="single-search-name byLeagueForm" onclick="openSearch(event)"> League
                </button>
            </div>


            <div class="each-league-matches">
                <section class="byCountryForm searchForm" style="display: none;">
                    <form id="countrySearchForm" action="/matches/searchByCountry" method="GET">
                        <label>Country: <input id="countryInputText" type="text" name="country"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
                </section>
            </div>
            
            <div class="each-league-matches">
                <section class="byTeamForm searchForm" style="display: none;">
                    <form id="teamSearchForm" action="/matches/searchMatchesByTeamName" method="GET">
                        <label>Team: <input id="teamInputText" type="text" name="teamName"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
                </section>
            </div>
            
            <div class="each-league-matches">
                <section class="byPlayerForm searchForm" style="display: none;">
                    <form id="playerSearchForm" action="/matches/searchMatchesByName" method="GET">
                        <label>Player: <input id="playerInputText" type="text" name="player"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
                </section>
            </div>
            
            <div class="each-league-matches">
                <section class="byLeagueForm searchForm" style="display: none;">
                    <form id="leagueSearchForm" action="/matches/searchEventsByLeague" method="GET">
                        <label>League: <input id="leagueInputText" type="text" name="league"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
                </section>
            </div>
           
        </div>
        <% if(typeof(matches)!=='undefined'){ %>
            <div class="all-matches-search-result">
                <% matches.forEach((match, i) => { %>
                <section class="each-match-serchResult">
                    <h3> <%= match.strEvent %> </h3> 
                    <h4> <%= match.strLeague %> </h4> 
                    <h4> <%= match.dateEvent %> </h4>
                    <h4> <%= match.strTime %> </h4>
                    <form class="add-to-wishList" action="/wishList/add" method="POST">
                        <input type="hidden" name="matchName" value="<%= match.strEvent %>">
                        <input type="hidden" name="matchDate" value="<%= match.dateEvent %>">
                        <input type="hidden" name="matchTime" value="<%= match.strTime %>">
    
                        <button type="submit" class="add-wishList">add to wishList</button>
                    </form>
                </section>
                <%  })  %>
            </div>
    
            <% } %>



    </main>

    <footer>

    </footer>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/matches.js"></script>
</body>

</html>