<!DOCTYPE html>
<html lang="en">

<head>
    <%- include( 'partials/head') %>
    <link rel="stylesheet" href="styles/searchMatchesStyle.css" />
</head>

<body>
    <header>
        <%- include('partials/header') %>

    </header>


    <main>

        <!--  -->
        <div class="match-search-tabs-container">
            <div class="leagues-names-container">
                <button id="searchByCountry" class="single-search-name byCountryForm" onclick="openSearch(event)">
                    Country
                </button> <!--  -->
                <button id="searchByTeam" class="single-search-name byTeamForm" onclick="openSearch(event)"> Team
                </button>
                <!--  -->
                <button id="searchByPlayer" class="single-search-name byPlayerForm" onclick="openSearch(event)"> Player
                </button> <!--  -->
                <button id="searchByLeague" class="single-search-name byLeagueForm" onclick="openSearch(event)"> League
                </button> <!--  -->
            </div>


            <div class="each-league-matches">
                <section class="byCountryForm searchForm" style="display: none;">
                    <form id="countrySearchForm" action="/matches/searchByCountry">
                        <label>Country: <input id="countryInputText" type="text" name="country"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
            </div>
            </section>
            <div class="each-league-matches">
                <section class="byTeamForm searchForm" style="display: none;">
                    <form id="teamSearchForm" action="/matches/searchTeamByName">
                        <label>Team: <input id="teamInputText" type="text" name="team"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
            </div>
            </section>
            <div class="each-league-matches">
                <section class="byPlayerForm searchForm" style="display: none;">
                    <form id="playerSearchForm" action="/matches/searchEventsByPlayerName">
                        <label>Player: <input id="playerInputText" type="text" name="player"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
            </div>
            </section>
            <div class="each-league-matches">
                <section class="byLeagueForm searchForm" style="display: none;">
                    <form id="leagueSearchForm" action="/matches/searchEventsByLeague">
                        <label>League: <input id="leagueInputText" type="text" name="league"> </label> <br />
                        <input class="searchButton" type="submit" value="Search">
                    </form>
            </div>
            </section>
        </div>

        <!--  -->

        <%       
        if (typeof(player)=='undefined') { %>

        <%} else { %>

        <div id="playerInfoDiv">
            <div id="imageAndInfoDiv">
                <img id="playerImage" src="<%= player.strThumb %>" alt="">
                <div id=playerBreifInfoDiv>
                    <h1>
                        <%= player.strPlayer %>
                    </h1>
                    <h3>Nationality:
                        <%= player.strNationality %>
                    </h3>
                    <h3>Teams:
                        <%= player.strTeam  %>,
                        <%= player.strTeam2  %>
                    </h3>
                    <h3>Born Date:
                        <%= player.dateBorn %>
                    </h3>
                    <h3>Gender:
                        <%= player.strGender %>
                    </h3>
                    <h3>Side:
                        <%= player.strSide %>
                    </h3>
                    <h3>Position:
                        <%= player.strPosition %>
                    </h3>
                    <h3>Facebook:
                        <%= player.strFacebook %>
                    </h3>
                    <h3>Height:
                        <%= player.strHeight %>
                    </h3>
                    <h3>Weight :
                        <%= player.strWeight %>
                    </h3>
                </div>
            </div>
            <p id="playerDescription">
                <%= player.strDescriptionEN %>
            </p>
        </div>
        <% } %>






    </main>

    <footer>

    </footer>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/matches.js"></script>
</body>

</html>